---
title: atyndall
description: "Ash is a full-stack developer specialising in Natural Language-focused Machine Learning, Amazon Web Services DevOps, Ruby on Rails and React."
---
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page" class="frontpage">

<header class="masthead">
  <div class="wrap">
        {% if site.logo != null %}
        <a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown"></a>
        {% endif %}
        <h1 class="site-title animated fadeIn"><a href="{{ site.url }}">Ash Tyndall</a></h1>

        <div class="animated fadeIn" id="infotext">
          <p>
            Ash is a full-stack developer specialising in Natural Language-focused Machine Learning, Amazon Web Services DevOps, Ruby on Rails and React.
          </p>
          <p>
            He currently works with <a href="https://appbot.co">Appbot</a>, an app-review aggregation startup, where he is building their next generation natural language insights systems and helping them scale their AWS-based infrastructure.
          </p>
          <p>
            Find out more about Ash's experience and achievements, or contact him, using the links below.
          </p>

        </div>

  </div>
</header>

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>
