---
title: atyndall
description: "Ash is a web developer, computer science researcher, entrepreneur and volunteer. He lives in Perth, Western Australia."
---
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page" class="frontpage">

<header class="masthead">
  <div class="wrap">
        {% if site.logo != null %}
        <a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown"></a>
        {% endif %}
        <h1 class="site-title animated fadeIn"><a href="{{ site.url }}">Ash Tyndall</a></h1>

        <div class="animated fadeIn" id="infotext">
          <p>
            Ash is a web developer, computer science researcher, entrepreneur and tech volunteer. He lives in Perth, Western Australia.
          </p>
          <p>
            Ash has a broad technical skillset complemented by significant leadership, development and professional experience.
          </p>
          <p>
            He is the top computer science honours student of his cohort at the University of Western Australia, graduating with First Class honours in mid-2015. <a href="/honours">Read more about his honours dissertation</a>.
          <p>
            He also holds a <a href='http://courses.year2011.handbooks.uwa.edu.au/courses/c6/6013'>Bachelor of Computer Science</a> triple-majoring in Systems, Computation and Web Design, also from UWA.
          </p>
          <p>
            Find out more about Ash, or contact him, using the links below.
          </p>

        </div>

  </div>
</header>

        <div class="footer-wrapper">
          <footer role="contentinfo">
            {% include footer.html %}
          </footer>
        </div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>
